resources:
  - "cluster-secret-store.yaml"

helmCharts:
  - name: external-secrets
    includeCRDs: true
    valuesInline:
      installCRDs: true
    releaseName: external-secrets
    version: 0.9.17
    repo: https://charts.external-secrets.io
