apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: cilium
    namespace: kube-system
    releaseName: cilium
    version: 1.16.3
    repo: https://helm.cilium.io
    valuesInline:
      kubeProxyReplacement: true
      ipam:
        mode: kubernetes
      cgroup:
        autoMount:
          enabled: false
        hostRoot: /sys/fs/cgroup
      securityContext:
        capabilities:
          cleanCiliumState:
            - NET_ADMIN
            - SYS_ADMIN
            - SYS_RESOURCE
          ciliumAgent:
            - CHOWN
            - KILL
            - NET_ADMIN
            - NET_RAW
            - IPC_LOCK
            - SYS_ADMIN
            - SYS_RESOURCE
            - DAC_OVERRIDE
            - FOWNER
            - SETGID
            - SETUID
      k8sServiceHost: 192.168.2.100
      k8sServicePort: 6443
      externalIPs:
        enabled: true
      devices: eth0
