apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cluster-issuers.yaml
  - namespace.yaml
helmCharts:
  - name: cert-manager
    namespace: cert-manager
    releaseName: cert-manager
    valuesInline:
      installCRDs: true
    version: v1.14.5
    repo: https://charts.jetstack.io
