resources:
  - cluster-issuers.yaml
  - "namespace.yaml"
helmCharts:
  - name: cert-manager
    namespace: cert-manager
    releaseName: cert-manager
    valuesInline:
      installCRDs: true
    version: v1.14.5
    repo: https://charts.jetstack.io

patches:
  - patch: |-
      - op: replace
        path: "/spec/acme/email"
        value: 'jonas.k.sjodin@gmail.com'
    target:
      kind: ClusterIssuer
