ingress:
  hostname: home-assistant.sjoedin.se
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod

initEnv:
  - name: POSTGRES_URL
    valueFrom:
      secretKeyRef:
        name: home-assistant-postgres-app
        key: uri

config:
  persistentFiles:
    .cloud: /config/.cloud
    .storage: /config/.storage
  configFiles:
    configuration.yaml: |
      # Configure a default setup of Home Assistant (frontend, api, etc)
      default_config:

      # Text to speech
      tts:
        - platform: google_translate

      # Database backend
      recorder:
        db_url: !secret db_url

      # Ingress forwarding settings
      http:
        use_x_forwarded_for: true
        trusted_proxies:
          - 10.0.1.0/24
          - 10.0.2.0/24
          - 10.42.0.0/16

      # Google assistant configuration
      google_assistant:
        project_id: home-assistant-61673
        service_account: !include serviceAccount.json
        report_state: true
        expose_by_default: false
        entity_config:
          light.allrumslampa:
            expose: true
          light.fonsterlampor:
            expose: true
          light.hallampa:
            expose: true
          light.kokslampa:
            expose: true
          light.sovrumslampa:
            expose: true
          light.vitrinskap:
            expose: true

  secretFiles:
    secrets.yaml: |
      # Database url
      db_url: ${POSTGRES_URL}
    serviceAccount.json: "{{ .HOME_ASSISTANT_GCP_SERVICE_ACCOUNT_JSON }}"
