ingress:
  hostname: home-assistant.sjoedin.se
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod

initEnv:
  - name: POSTGRES_URL
    valueFrom:
      secretKeyRef:
        name: home-assistant-postgres-app
        key: uri

config:
  # persistentFiles:
  #   .cloud: /config/.cloud
  #   .storage: /config/.storage
  #   custom_components: /config/custom_components
  # configFiles:
  #   configuration.yaml: |
  #     # Configure a default setup of Home Assistant (frontend, api, etc)
  #     default_config:

  #     automation: !include automations.yaml

  #     # Text to speech
  #     tts:
  #       - platform: google_translate

  #     # Database backend
  #     recorder:
  #       db_url: !secret db_url

  #     # Ingress forwarding settings
  #     http:
  #       use_x_forwarded_for: true
  #       trusted_proxies:
  #         - 10.0.1.0/24
  #         - 10.0.2.0/24
  #         - 10.42.0.0/16

  #     # Google assistant configuration
  #     google_assistant:
  #       project_id: home-assistant-61673
  #       service_account: !include serviceAccount.json
  #       report_state: true
  #       expose_by_default: false
  #       entity_config:
  #         light.allrumslampa:
  #           expose: true
  #           aliases:
  #             - Allrumslamporna
  #         light.fonsterlampor:
  #           expose: true
  #           aliases:
  #             - Fönsterlamporna
  #         light.hallampa:
  #           expose: true
  #           aliases:
  #             - Hallampan
  #         light.kokslampa:
  #           expose: true
  #           aliases:
  #             - Kökslampan
  #         light.sovrumslampa:
  #           expose: true
  #           aliases:
  #             - Sovrumslampan
  #         light.vitrinskap:
  #           expose: true
  #           aliases:
  #             - Vitrinskåpen
  #             - Vitrinskåpet
  #         cover.dorrullgardin:
  #           expose: true
  #           aliases:
  #             - Dörrullgardinen
  #             - Balkongrullgardin
  #             - Balkongrullgardinen
  #             - Balkongdörrsrullgardin
  #             - Balkongdörrsrullgardinen
  #         cover.fonsterrullgardin:
  #           expose: true
  #           aliases:
  #             - Fönsterrullgardinen
  #         cover.rullgardiner:
  #           expose: true
  #           aliases:
  #             - Sovrumsrullgardinerna
  #             - Rullgardinerna
  #             - Gardinerna
  #   automations.yaml: |
  #     - alias: Blinds_Battery_Notify
  #       description: ""
  #       trigger:
  #       - platform: time
  #         at: "02:00:00"
  #       condition: []
  #       action:
  #         - service: tuiss2ha.get_battery_status
  #           target:
  #             entity_id:
  #               - binary_sensor.dorrullgardin
  #               - binary_sensor.fonsterrullgardin
  #           data: {}
  #         - if:
  #             - condition: state
  #               entity_id: binary_sensor.dorrullgardin
  #               state: "on"
  #           then:
  #             - service: notify.mobile_app_jonas_telefon
  #               data:
  #                 message: Hallway Blind battery is low
  #         - if:
  #             - condition: state
  #               entity_id: binary_sensor.fonsterrullgardin
  #               state: "on"
  #           then:
  #             - service: notify.mobile_app_jonas_telefon
  #               data:
  #                 message: Study battery is low`

  secretFiles:
    secrets.yaml: |
      # Database url
      db_url: ${POSTGRES_URL}
    serviceAccount.json: "{{ .HOME_ASSISTANT_GCP_SERVICE_ACCOUNT_JSON }}"
