apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: kustomize
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: https://github.com/JonasKop/argocd-applications.git
        revision: HEAD
        directories:
          - path: kustomize123/*
  template:
    metadata:
      name: "{{.path.basename}}"
      annotations:
        argocd.argoproj.io/compare-options: "ServerSideDiff=true"
    spec:
      project: default
      source:
        repoURL: https://github.com/JonasKop/argocd-applications.git
        targetRevision: HEAD
        path: "{{.path.path}}"
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
