apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mosquitto
resources:
  - "namespace.yaml"
  - "deployment.yaml"
  - "configmap.yaml"
  - "secret.yaml"
  - "service.yaml"
components:
  - ../../components/external-secrets-transformer
images:
  - name: eclipse-mosquitto
    newTag: 2.0.20
