apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - backup-schedule.yaml
  - namespace.yaml
components:
  - ../../components/external-secrets-transformer
helmCharts:
  - name: velero
    namespace: velero
    releaseName: velero
    version: 7.2.2
    repo: https://vmware-tanzu.github.io/helm-charts
    valuesInline:
      configuration:
        features: EnableCSI
        backupStorageLocation:
          - provider: aws
            bucket: homelab-velero-backups
            config:
              region: eu-central-003
              s3Url: https://s3.eu-central-003.backblazeb2.com
              checksumAlgorithm: ""
        volumeSnapshotLocation:
          - provider: aws
            config:
              region: eu-central-003
      initContainers:
        - name: velero-plugin-for-aws
          image: velero/velero-plugin-for-aws:v1.10.1
          volumeMounts:
            - mountPath: /target
              name: plugins
      credentials:
        secretContents:
          cloud: |
            [default]
            aws_access_key_id={{`{{ .VELERO_ACCESS_KEY_ID }}`}}
            aws_secret_access_key={{`{{ .VELERO_SECRET_ACCESS_KEY }}`}}
