apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - "../../base/cert-manager"

patches:
  - patch: |-
      - op: replace
        path: "/spec/acme/email"
        value: 'jonas.k.sjodin@gmail.com'
    target:
      kind: ClusterIssuer
