apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cluster-issuers.yaml
  - namespace.yaml

components:
  - ../../components/external-secrets-transformer

helmCharts:
  - name: cert-manager
    namespace: cert-manager
    releaseName: cert-manager
    valuesInline:
      installCRDs: true
    version: v1.14.5
    repo: https://charts.jetstack.io
    includeCRDs: true
    valuesInline:
      dns01RecursiveNameservers: "1.1.1.1:53"
      dns01RecursiveNameserversOnly: true

patches:
  - patch: |-
      - op: replace
        path: "/spec/acme/email"
        value: 'jonas.k.sjodin@gmail.com'
    target:
      kind: ClusterIssuer
